<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nolabel.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{PYTHON_BIN}}</string>
        <string>{{SUITE_DIR}}/scripts/folder_watcher.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{SUITE_DIR}}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{SUITE_DIR}}/logs/daemon_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{SUITE_DIR}}/logs/daemon_stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
